POSTGRES_USER=notifyhub
POSTGRES_PASSWORD=notifyhub
POSTGRES_DB=notifyhub
POSTGRES_PORT=5432

REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
KAFKA_PORT=9092

AUTH_SERVICE_PORT=8081
REMINDER_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083
GATEWAY_SERVICE_PORT=8080
DASHBOARD_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=notifyhub

ELASTIC_VERSION=8.19.15
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601
LOGSTASH_GELF_PORT=12201
LOGSTASH_API_PORT=9600
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
LOGSTASH_JAVA_OPTS=-Xms256m -Xmx256m

AUTH_JWT_ISSUER=notifyhub-auth
AUTH_JWT_SECRET=change-this-development-secret-change-this-development-secret
AUTH_JWT_EXPIRATION=PT2H

KAFKA_TOPIC_REMINDER_TRIGGERED=reminder.triggered
KAFKA_NOTIFICATION_GROUP_ID=notification-service
REMINDER_TRIGGER_SCHEDULER_DELAY_MS=5000
RABBITMQ_ENABLED=true
NOTIFICATION_DELIVERY_MAX_ATTEMPTS=3
NOTIFICATION_DELIVERY_RETRY_DELAY_MS=5000
